@import "compass/css3";

body {
  background: black;
}
.container {
  left: 50%;
  overflow: hidden;
  position: absolute;
  width: 500px;
  height: 800px;
  margin-left: -250px;
  /*margin-top: -250px;*/
  background:#032133;
}
.background {
  height:30000px;
  width: 500px;
  position: absolute;
  bottom:0px;
  background: -webkit-linear-gradient(top, #032133,black);
}

.view {
height:800px;
  }
.menu {
  position:absolute;
  left:500px;
  bottom:0px;
  height:800px;
  width:500px;
  z-index: 5;
  text-align: center;
  opacity: 1;
  
}
.highscoreList{
  position:absolute;
  left:500px;
  bottom:0px;
  height:800px;
  width:500px;
  z-index: 6;
  text-align: center;
  opacity: 1;
  background:-webkit-linear-gradient(top, #032133,black);;
}
.showList{
  left:0px;
}
.start {
  background: url('../images/startscreen.png');
  left: 0px;
}
.start div{
  opacity:0;
}
.dead {
  -webkit-animation: death 4s forwards;
  left:0px;
}
.dead button{
  opacity: 1;
  -webkit-animation: buttonLoad 2s forwards;
}
.dead div{
  opacity: 1;
  -webkit-animation: buttonLoad 2s forwards;
}
.play {
  position: absolute;
  top:53%;
  left:50%;
  background: -webkit-linear-gradient(top, #032133,black);
  width:300px;
  height:30px;
  margin-left: -150px;
  color:white;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}
.highscoreButton{
  position: absolute;
  top:57%;
  left:50%;
  background: -webkit-linear-gradient(top, #032133,black);
  width:300px;
  height:30px;
  margin-left: -150px;
  color:white;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}

.platforms {
  
}
.platform {
  margin-bottom:45px;
  left:0px;
  bottom:0px;
  background: -webkit-linear-gradient(left,green,yellow);
  width:70px;
  height:5px;
    position: absolute;
    z-index: 2;
    border:1px solid black;
    outline:1px solid white;
}
.movingPlatform {
    margin-bottom:45px;
    position: absolute;
    background: -webkit-linear-gradient(left,blue,red);
    z-index: 2;
    border:1px solid black;
    outline:1px solid white;
    width:70px;
    height:5px;
    left:0px;
    bottom:0px;

    /*@include border-radius(3px 3px 3px 3px);
*/}
.fallingPlatform {
    margin-bottom:45px;
    position: absolute;
    background: -webkit-linear-gradient(left,purple,orange);
    z-index: 2;
    border:1px solid black;
    outline:1px solid white;
    width:70px;
    height:5px;
    left:0px;
    bottom:0px;

    /*@include border-radius(3px 3px 3px 3px);*/
}
.dhalsim {
  position:absolute;
  width:33px;
  height:38px;
  left:0px;
  bottom:0px;
  margin-left:-15px;
  background: url('../images/Dhalsim-float.gif') no-repeat;
  background-size:100% 120%;
}
.dhalsimDance {
  background: url('../images/Dhalsim-dance.gif') no-repeat;
  background-size:100% 100%;
  width:70px;
  height:80px;
}
.objects {
  div {z-index:3;}
}
.health {
  background: -webkit-linear-gradient(top, #032133,black);
  
  position: absolute;
  bottom: 0;
  right: 130px;
  
  height: 20px;
  width: 200px;
  
  padding: 10px;
  color:white;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}
.hud {
  background: -webkit-linear-gradient(top, #032133,black);
  
  position: absolute;
  bottom: 0;
  right: 0px;
  
  height: 20px;
  width: 130px;
  
  padding: 10px;
  @include border-radius(0px 5px 0px 0px);
  color:white;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}
.message {
  background: -webkit-linear-gradient(top, #032133,black);
  
  position: absolute;
  bottom: 0;
  left: 0px;
  
  height: 20px;
  width: 130px;
  
  padding: 10px;
  @include border-radius(5px 0px 0px 0px);
  color:white;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}
.highscore {
  background: -webkit-linear-gradient(top, #032133,black);
  
  position: absolute;
  top:62%;
  left:48%;
  z-index: -1;
  width:300px;
  height:200px;
  margin-left: -150px;  
  padding: 10px;
  @include border-radius(5px 5px 5px 5px);
  color:white;
  text-align: center;
  font-family: "Lucida Console", Monaco, monospace;
}
.player {
  position: absolute;
  left: 0px;
  bottom: 50px;
  width: 50px;/*101px fyrir walk*/
  height: 55px;/*110px fyrir walk*/
  z-index: 4;
  margin-left: -25px;

  .blanka {
  width:101px;
  height:110px;
  background: url('../images/Sf-blanka.gif') no-repeat;
  background-size:50% 50%;
  }


  .blankaJump {
  background: url('../images/Blanka-rolling.gif') no-repeat;
  background-size:50% 50%;
  }
  .blankaLeft {
    @include transform-origin(24%);
    @include transform(scale(-1,1));
  }
}

@-webkit-keyframes death {
  from {
    background-color:black;
    opacity: 0;
  }
  25% {
    background-color:black;
    background-image: none; 
    opacity: 1;
  }
  to {
    opacity: 1;
    background: url('../images/deathscreen.png') no-repeat;
  }
}
@-webkit-keyframes buttonLoad {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}